.form-section{
    background-image: linear-gradient(to right bottom, #c8def8, #aedaff);
    /* background-color: aquamarine; */
    height:610px;
    width:100%;
    display: flex;
    /* justify-content: center; */

}

.about{
    /* background-color: blueviolet; */
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.about h1{
    margin-top:100px;
    /* background-color: aquamarine; */
    font-size: 49px;
    color: #093b80;
}
.about h1 span,.about-p2{
    color:#484848;
}
.about-p2{
    margin-top: 25px;
    /* background-color: blue; */
    word-spacing: 3px;
    line-height: 36px;
    font-size: 23px;
    width:458px;
}
.about-p3{
    margin-top: 16px;
    /* background-color: blue; */
    color:#093b80;
    width:458px;
    
}
.about-p3 div{
    background-image: linear-gradient(to right bottom, #c8def8, #aedaff);
    width:47%;
    padding:5px;
    border-radius: 10px;
}
.about-btn{
    /* background-color: aquamarine; */
    height:22%;
    width: 458px;
    display:flex;
    align-items: center;
    
}
.about-btn button{
    width:170px;
    height:40.1px;
    background-color: #093b80;
    border-radius: 20px;
    border: 0px;
    box-shadow: 1px 10px  22px #093b80b6;
}
